/* for the home page  */
.hero-section .bolt-icon span {
    position: absolute;
    width: 4px;
    height: 16px;
    background-color: #262626;
    border-radius: 2px;
}

.hero-section .bolt-icon span:nth-child(2) {
    top: -45px;
    left: 0;
    rotate: -6deg;
}

.hero-section .bolt-icon span:nth-child(3) {
    top: -40px;
    left: -25px;
    rotate: -45deg;
    height: 30px;
}

.hero-section .bolt-icon span:nth-child(4) {
    top: -6px;
    left: -30px;
    rotate: -75deg;
}
.courses-filtring span {
    font-weight: 500;
}
.courses-filtring span.active {
    font-weight: bold;
    color: var(--btns) !important;
    border-bottom: 2px solid var(--btns);
    background-image: linear-gradient(to top , #B2D8FC , #E6F0FF00 70%);
}

/* custom style for the inputs */

form .field {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 10px 0;
}

form .field label {
    font-weight: 500;
}

form .field input {
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    padding: 15px;
    border-radius: 8px;
    outline: none;
}

